<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <shutdownHook class="ch.qos.logback.core.hook.DefaultShutdownHook"/>

    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="gateway-service"/>
    <springProperty scope="context" name="LOG_PATH" source="logging.file.path" defaultValue="logs/${APP_NAME}"/>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [traceId:%X{traceId}] %logger{50} - %msg%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [traceId:%X{traceId}] %cyan(%logger{50}) - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
<!--        <file>${LOG_PATH}/info.log</file>-->
        <file>${LOG_PATH}/info.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/history/info.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>500MB</maxFileSize>
            <maxHistory>15</maxHistory>
            <totalSizeCap>30GB</totalSizeCap>
        </rollingPolicy>
<!--        <encoder>-->
<!--            <pattern>${LOG_PATTERN}</pattern>-->
<!--            <charset>UTF-8</charset>-->
<!--        </encoder>-->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>
            <includeMdc>true</includeMdc> <!-- 自动将 MDC 中的 traceId 变成独立 JSON 字段 -->
            <customFields>{"serviceName":"${APP_NAME}"}</customFields> <!-- 附加服务名标签 -->
        </encoder>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
<!--        <file>${LOG_PATH}/error.log</file>-->
        <file>${LOG_PATH}/error.json</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/history/error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
<!--        <encoder>-->
<!--            <pattern>${LOG_PATTERN}</pattern>-->
<!--            <charset>UTF-8</charset>-->
<!--        </encoder>-->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>
            <includeMdc>true</includeMdc> <!-- 自动将 MDC 中的 traceId 变成独立 JSON 字段 -->
            <customFields>{"serviceName":"${APP_NAME}"}</customFields> <!-- 附加服务名标签 -->
        </encoder>
    </appender>

    <appender name="ASYNC_INFO" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>2048</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="INFO_FILE"/>
    </appender>

    <!--屏蔽 Netty 频繁的握手和心跳 -->
    <logger name="reactor.netty" level="WARN" />
    <!--屏蔽 Nacos 频繁的服务心跳检查-->
    <logger name="org.springframework.cloud.gateway" level="INFO" />
    <!--网关路由细节，平时设为 info，排查路由不通时才开 debug-->
    <logger name="com.alibaba.nacos" level="WARN" />

    <springProfile name="dev,test">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="ASYNC_INFO" />
            <appender-ref ref="ERROR_FILE" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="ASYNC_INFO" />
            <appender-ref ref="ERROR_FILE" />
        </root>
    </springProfile>

</configuration>